body{
  background-color: #fff2e6;
  text-align: left;
  border-style: ;
  border-color: white;
  background-image: url(insert jpg here);
list-style-position: inside;
}


h1{
 font-size: 60px;
  font-family: ariel, helvetica, sans-serif
}

h2{
  font-family: ariel, helvetica, sans-serif
}

h3{
  text-transform: ;
  text-decoration-line: underline;
 
}

h4{
   text-transform: uppercase;
}

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  color: ;
  align-content: center;
  height: 100vh;
 
 
  
  
 
 
}

.grid-item1{
  border:solid;
  grid-column-start: 1;
  grid-column-end: 3;
 
}

.grid-item3{
  border: solid;
  list-style-position: inside;
  grid-column-start: 1;
}

.grid-item4{
  border:solid;
}
.grid-item5{
  border: solid;
  grid-column-start:1;
  grid-column-end: 3;
}
